.postForm textarea{
    width: 100%;

    margin-bottom: 10px;
    padding-left: 12px;
    padding-top: 12px;

    border: none;
    border: 1px black solid;

    outline: none;
}

.postFormContainer{
    background-color: white;

    box-shadow: 3px 3px 8px rgb(97, 97, 97);

    padding: 20px;
    padding-top: 0;

    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
}

.postForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.postFormHeader{
    margin: 10px 0;
    float: left;
}

.titleInput{
    width: 100%;

    margin-bottom: 10px;
    padding: 12px;

    border: none;
    border: 1px black solid;

    outline: none;
}
.messageInput{

}
.tags_container{
    width: 100%;
    height: fit-content;
    padding: 10px;
    border: 1px black solid;

    overflow-x: hidden;

}
.tags{
    
}

.tag_container{
    display: inline-block;
    margin-bottom: 6px;
}
.tag{
    display: flex;
    align-items: center;

    padding: 5px;

    background-color: rgb(232, 232, 232);
    color: rgb(39, 39, 39);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);

    border-radius: 2px;
    margin-right: 10px;
}

.tagText{
    margin-right: 5px;

    font-size: 15px;
}

.removeTagBtn{
    border: none;
    background-color: transparent;

    width: 10px;
    aspect-ratio: 1;

    color: rgb(50, 50, 50);

    display: flex;
    justify-content: center;
    align-items: center;
}   

.tagsInput{
    display: inline-block;
    max-width: 30%;

    border: none;
    outline: none;
}
.fileInput input{
    border: none;
    margin-bottom: 10px;
    padding: 10px;
}
.nameInput{

}

.buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.buttons button{
    width: 40%;
    padding: 10px 0;
    border: none;

    color: white;
    border-radius: 10px;

    font-size: 20px;

}
.submitBtn{
    background-color: rgb(64, 182, 255);

    transition: all .2s ease-in-out;
}

.clearBtn{
    background-color: red;

    transition: all .2s ease-in-out;
}

.submitBtn:hover{
    background-color: rgb(54, 149, 208);
}

.clearBtn:hover{
    background-color: rgb(168, 13, 13);
}

.submitBtn:active{
    background-color: rgb(16, 80, 120);
}

.clearBtn:active{
    background-color: rgb(91, 8, 8);
}

.loginPrompt{
    background-color: white;

    box-shadow: 3px 3px 8px rgb(97, 97, 97);

    padding: 20px 30px;

    width: 100%;
    height: fit-content;

}

.error{
    color: red;
    font-size: .8vw;
}
.inputError{
    margin-bottom: 5px;
    width: 100%;
}